 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

:root{
  --green:#27E1C1;
  --darkgreen:#0EA293;
  --light-color:#111;
  --black:#444;
  --box-shadow:.5rem .5rem 0 rgba (22, 160, 133, .2);
  --text-shadow:.4rem .4rem 0 rgba(0, 0, 0, .2);
  --border:.2rem solid var(--green);
}

h1 {
    margin-bottom: 8%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: var(--green);
    letter-spacing: 0.1em;
    text-shadow: var(--text-shadow);
  }
  
  p {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
    text-align: center;
    border-bottom: var(--border);
    line-height: 0.1em;
  }
  
  p span {
    background:#fff;
    padding:0 10px;
  }
  
  input {
    margin-bottom: 3%;
  }
  
  input:last-of-type {
    margin-bottom: 0;
  }
  
  input, button {
    padding: 3%;
    width: 100%;
  }
  
  .login-container {
    background-color: white;
    padding: 0 7% 7% 7%;
    box-shadow: var(--box-shadow);
    width: 40vw;
    margin: auto;
    height: 70vh;
    margin-top: 15vh;
    border: var(--border);
    border-radius: .5rem;
  }
  
  #submit, #create-acct-btn {
    background-color:var(--darkgreen);
    color: white;
    border: none;
    margin-top: 5%;
  }
  
  button:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: 0.3s;
  }
  
  #sign-up {
    border: none;
  }
  
  #create-acct {
    display: none;
  }
  
  #return-btn {
    background: none;
    color: var(--black);
    text-decoration: underline;
    border: none;
    margin-top: 3%;
  }